.DS_Store

# IDE
.idea/
.vscode/

# Environment
.env

# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/
**/GeneratedPluginRegistrant.*
**/Generated.xcconfig
**/flutter_export_environment.sh
ios/Flutter/.last_build_id
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS / macOS
ios/Pods/
ios/.symlinks/
ios/DerivedData/
macos/Pods/
macos/.symlinks/
macos/DerivedData/

# Hardhat
node_modules/
/cache
/artifacts
/typechain
/typechain-types
/coverage
/coverage.json
ignition/deployments/chain-31337

# Foundry
/broadcast
/cache
/out
remappings.txt

# Other build outputs
target/
